@media screen and (max-width: 1199px) {
    .container {
        width: 950px;
    }

    nav {
        margin-right: -20px;
    }

}

@media screen and (max-width: 979px) {
    .container {
        width: 780px;
    }
    a {
        margin-right: 23px;
    }

    .content h3 {
        font-size: 43px;
        line-height: 44px;
    }

    .content p {
        font-size: 15px;
        line-height: 24px;
        color: white;
        width: 55%;
    }

    .main_two {
        margin-right: 4px;
    }

    .main_three_section img {
        max-width: 230px;
    }

    .main_three_section {
        float: left;
        width: 28%;
        margin-right: 41px;
    }

    .main_three_section h5 {
        font-size: 15px;
        padding: 6px 0 6px 0;
        font-family: 'Cabin';
        text-align: initial;
    }

    .main_three_section p {
        text-align: initial;
    }

    span {
        font-size: 15px;
        margin-left: 4px;
    }

    .footer_section {
        width: 20%;
    }

    .footer_section h6 {
        font-size: 12px;
        margin-left: 22px;
    }

    .footer_section p {
        font-size: 11px;
        margin-left: 22px;
    }

    .footer_one button {
        margin-right: 10px;
    }

    .footer_one p {
        font-size: 15px;
    }

    .footer_one h6 {
        font-size: 22px;
    }
}


@media screen and (max-width: 767px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .container {
        width: 96%;
    }

    .header {

        padding-bottom: 58px;
    }

    nav {
        float: none;
        width: 100%;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .logos img {
        padding-bottom: 10px;
    }

    .logos {
        text-align: center;
    }

    .content {
        text-align: center;
        padding-top: 32px;
    }

    .content h3 {
        font-size: 25px;
        line-height: 35px;

    }

    .content p {
        font-size: 15px;
        line-height: 22px;
        color: white;
        width: 100%;

    }

    .main_one {
        padding-top: 30px;

    }

    .section {
        float: none;
        width: 100%;
        margin-bottom: 51px;
    }

    .main_two {
        margin-right: 18px;
    }

    .main_two {
        text-align: center;
        margin-left: 20px;
    }

    .main_three_section {
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
    }

    .main_three_content {
        text-align: center;
    }

    .main_three_content p {
        margin-left: 32px;

    }

    .main_three_content {
        padding-bottom: 19px;
    }

    .main_three_section h5 {
        font-size: 22px;
        margin-left: 32px;
        padding-top: 20px;
    }

    .main_three_section img {
      max-width:  100%;
    }

    .main_three {
        padding-top: 10px;
    }

    .footer_one button {
        display: block;
    }

    .footer_one {
        text-align: center;
        padding-bottom: 40px;
    }

    .footer_one p {
        font-size: 15px;
        padding-top: 21px;
    }

    .footer_one button {
        margin-top: 31px;
        float: none;
        margin-left: 64px;
    }

    .footer_section {
        width: 100%;
        float: none;
        padding-bottom: 20px;
    }

    .footer_content {
        text-align: center;

    }

    p.p {
        padding-top: 12px;
        font-size: 12px;
    }

    span {
        font-size: 15px; 
    }

    .footer_section {
        margin-left: -12px;
    }

    .footer_section h6 {
        font-size: 17px;

    }
    .main_three_section h5{
        margin: 0;
        padding: 0;
    }
    
    .main_three_section p{
        margin: 0;
        padding: 0;
    }
    
}