@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Regular.woff2') format('woff2'),
        url('Cabin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Bold.woff2') format('woff2'),
        url('Cabin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

